<nav class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
       <h3 margin-left = "10px"><i class="fa fa-plus fa-fw fa-1x"></i>Add New App</h3>
    </div>
  </div>
</nav>

<div id = "iconImage">
</div>
<form enctype="multipart/form-data" class="form-newapp" action="/app/create" method="POST">

<!-- Put Server returned error flashes here -->
<% if(flash && flash.err) { %>
    <ul class="alert alert-success">
  <% Object.keys(flash.err).forEach(function(error) { %>
    <li><%- JSON.stringify(flash.err[error]) %></li>
  <% }) %>
  </ul>
  <% } %>

<div class="row">
      <div class="form-group  col-sm-5">
        	<label  class="control-label" for="appIcon">App Icon</label>
        	<input type="file" class="form-control" id="imagePicker" placeholder="Choose Image"  accept="image/jpeg, image/png" name="picture">
      </div>
 </div>

<div class="row">
    	<div class="form-group  col-sm-5">
        	<label  class="control-label" for="appName">App Name</label>
        	<input type="text" class="form-control" id="appName" name= "appName" placeholder="App Name" data-validation="length" data-validation-length="2-20">
    	</div>
</div>

<div class="row">
    	<div class="form-group  col-sm-5">
    		<label  class="control-label" for="appBundleId">App Bundle Id</label>
   			<input type="text" class="form-control" id="bundleId" name="appBundleId" placeholder="App Bundle Id" data-validation="url">
   		 </div>
</div>

<div class="row">
    	<div class="form-group  col-sm-5">
        	<label class="control-label" for="appDetail">App Description</label>
        	<textarea class="form-control" rows="10" id="appDetail" name="appDetail" data-validation="required"></textarea>
    	</div>
</div>

<div class="row">
   		<div>
    		<button type="submit" class="btn btn-primary col-sm-5">Create new app</button>
    	</div>
</div>
</form>
</div>

<script>
	if (window.FileReader) {
      function handleFileSelect(evt) {
        var files = evt.target.files;
        var f = files[0];
        var reader = new FileReader();
		
          reader.onload = (function(theFile) {
            return function(e) {
              document.getElementById('iconImage').innerHTML = ['<img src="', e.target.result,'" title="', theFile.name, '" width="100px" height="100px" class="img-rounded" />'].join('');
            };
          })(f);
    
          reader.readAsDataURL(f);
      }
	 } else {
	  alert('This browser does not support FileReader');
	}
    
      document.getElementById('imagePicker').addEventListener('change', handleFileSelect, false);
    </script>
